/lambda_function.py

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Env / secrets
.env
*.env

# OS
.DS_Store

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/.builds/*.zip
infra/.builds/*.tfplan
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/crash.log
